services:
  web:
    # yamllint disable-line rule:line-length
    image: ghcr.io/chamburr/modmail-web:latest@sha256:4496503a2624d9972ad2e2e52a028ceb0aa9617f7417b33a565c38c606ecac59
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - printenv CONFIG > /.env && yarn start
    environment:
      - CONFIG=${CONFIG}
    networks:
      - default
      - traefik_default
    depends_on:
      - api
    labels:
      - traefik.enable=true
      - traefik.http.services.modmail.loadbalancer.server.port=6000
      - traefik.http.routers.modmail.rule=Host(`modmail.xyz`) || Host(`www.modmail.xyz`)
      - traefik.http.routers.modmail.service=modmail
      - traefik.http.routers.modmail.middlewares=redirect
      - traefik.http.routers.modmail.tls=true
      - traefik.http.routers.modmail.tls.certresolver=letsencrypt
      - traefik.http.routers.modmail.tls.domains[0].main=modmail.xyz
      - traefik.http.routers.modmail.tls.domains[0].sans=*.modmail.xyz

  api:
    # yamllint disable-line rule:line-length
    image: ghcr.io/chamburr/modmail-api:latest@sha256:3371aeafc8f4d13ea85c2340d4c5f086922753d7049934722ecad5b0a2d5acd4
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - printenv CONFIG > /.env && ./modmail
    environment:
      - CONFIG=${CONFIG}
    depends_on:
      - bot
      - redis

  bot:
    # yamllint disable-line rule:line-length
    image: ghcr.io/chamburr/modmail-bot:latest@sha256:6157dd1ff24a097305afee225ae71238dda4f89f9502009c742412c75ab09f76
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - printenv CONFIG > /app/.env && ./bin/entrypoint.sh
    environment:
      - CONFIG=${CONFIG}
      - REDIS_HOST=redis
      - RABBIT_HOST=rabbitmq
    depends_on:
      - dispatch
      - postgres
      - redis
      - rabbitmq

  dispatch:
    image: ghcr.io/chamburr/twilight-dispatch:0.4.6
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - printenv CONFIG > /app/.env && ./twilight-dispatch
    environment:
      - CONFIG=${DISPATCH_CONFIG}
    depends_on:
      - redis
      - rabbitmq

  postgres:
    image: docker.io/library/postgres:17.4-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_DB=modmail
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: ghcr.io/dragonflydb/dragonfly:v1.27.2
    restart: unless-stopped
    command:
      - dragonfly
      - --logtostderr
      - --maxmemory=12gb
      - --dbfilename=
      - --max_client_iobuf_len=10000000
      - --max_multi_bulk_len=10000000
      - --version_check=false
    healthcheck:
      disable: true

  rabbitmq:
    image: docker.io/library/rabbitmq:4.0.7-alpine
    restart: unless-stopped

networks:
  traefik_default:
    external: true

volumes:
  postgres:
