services:
  templates:
    # yamllint disable-line rule:line-length
    image: ghcr.io/chamburr/discord-templates:latest@sha256:d3c79235d2d8ccdd4c961b9022c35744ddd9acf7ef7a6c6b51e740224c3bbf9b
    restart: unless-stopped
    command:
      - /bin/sh
      - -c
      - printenv CONFIG > /app/config.json && yarn start
    environment:
      - CONFIG=${CONFIG}
    networks:
      - default
      - traefik_default
    volumes:
      - templates:/data
    labels:
      - traefik.enable=true
      - traefik.http.services.discord-templates.loadbalancer.server.port=8080
      # yamllint disable-line rule:line-length
      - traefik.http.routers.discord-templates.rule=Host(`discordtemplates.me`) || Host(`www.discordtemplates.me`)
      - traefik.http.routers.discord-templates.service=discord-templates
      - traefik.http.routers.discord-templates.middlewares=redirect
      - traefik.http.routers.discord-templates.tls=true
      - traefik.http.routers.discord-templates.tls.certresolver=letsencrypt
      - traefik.http.routers.discord-templates.tls.domains[0].main=discordtemplates.me
      - traefik.http.routers.discord-templates.tls.domains[0].sans=*.discordtemplates.me

networks:
  traefik_default:
    external: true

volumes:
  templates:
