services:
  wireguard:
    image: docker.io/library/alpine:3.23.2
    restart: unless-stopped
    command:
      - /entrypoint.sh
    environment:
      - CONFIG=${CONFIG}
    ports:
      - 51820:51820/udp
    volumes:
      - ${PWD}/entrypoint.sh:/entrypoint.sh:ro
    cap_add:
      - NET_ADMIN
